<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About+Contact",   'http://www.ilinknet.com/web/contact' %></li>
      <li><a href="http://www.ilinknet.com/web/support">Support</a></li>
    </ul>
  </nav>
</footer>