<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Interlink Network Systems", 'http://www.ilinknet.com/web', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        </ul>
      </nav>
    </div>
  </div>
</header>